<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Css exploring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Hi Css</h1>
        <ol>
            <li class="liGreen"> Hi how you doing </li>
            <li class="liBlue"> This is in blue color</li>
        </ol>
        <p>This is some paragraph that I want to test.</p>
        <script src="" async defer></script>
        <div class="liBlue">
            <h2>testing if the div tag, can assumme the liBlue class</h2>
        </div>
        <div>
            <ul>
                <li> AAA </li>  
                <li> BBB </li>  
                <ul> <li> CCC </li>  
                </ul>  
                <li> DDD </li>  
                <ul> <li> EEE </li>    
                <li> FFF </li>  
                </ul>  
                <li> GGG </li>
                </ul>
        </div>
    </body>
</html>