<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Quentin's Interest</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Duke Javascript course</h1>
    <p>Lessons so far</p>
    <ol>
        <li>
            <a href="{{url_for('quentins_page')}}">quentins_page</a>
        </li>
        <li>
            <a href="{{url_for('exploring_css')}}">exploring_css</a>
        </li>
        <li>
            <a href="{{url_for('exploring_js')}}">exploring_js</a>
        </li>
        <li>
            <a href="{{url_for('simple_web_page')}}">simple_web_page</a>
        </li>
        <li>
            <a href="{{url_for('to_do_list')}}">to_do_list</a>
        </li>
        <li>
            <a href="{{url_for('using_canvas')}}">sing_a_canvas</a>
        </li>
        <li>
            <a href="{{url_for('color_picker')}}">color_picker</a>
        </li>
        <li>
            <a href="{{url_for('paint_canvas')}}">paint_canvas</a>
        </li>
        <li>
            <a href="{{url_for('prototype')}}">prototype</a>
        </li>
        <li>
            <a href="{{url_for('green_screen')}}">Green Screen</a>
        </li>
        <li>
            <a href="{{url_for('filter_fun')}}">filter_fun</a>
        </li>
    </ol>
    </body>
</html>