<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Quentin's Interest</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Quentin's page of interest</h1>
            <p>The world wanto to know: who is Quentin Ruiz-Esparza?, Read this page 
                to learn about Quentin's likes (and maybe his dislikes)
            </p>
        </div>
        <div>
            <h2>What's your top 5?</h2>
            <p>Quentin was rencently asked about his top 5 movies, musicians, and places he has
                visited. <em>bold letters</em> Here are his answer!
            </p>
            <h3>Movies</h3>
            <h3>Music Artists</h3>
            <h3>Places I've Visited</h3>
        </div>
        <div>
            <a href="http://www.dukelearntoprogram.com/" target="blank_">Duke Learn to Program</a>
        </div>
        <div>
            <h1>A photo, well I mean images...</h1>
            <p>This is how I look, now a days.</p>
            <img src="{{url_for('static',filename='img/20220121_150441.jpg')}}" align="middle" width="15%"/>
            <p>Some photo in a url</p>
            <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32">
        </div>
        <div>
            <h2>An ordered list</h2>
            <ol>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>item 5</li>
            </ol>
            <h2>An unordered list</h2>
            <ul>
                <li>1 item</li>
                <li>2 item</li>
                <li>3 item</li>
                <li>4 item</li>
                <li>5 item</li>
            </ul>
            <h2>Table section!!!</h2>
            <table>
                <tr>
                  <th>Month</th>
                  <th>Savings</th>
                </tr>
                <tr>
                  <td>January</td>
                  <td>$100</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>lets see what we got.</li>
                            <li>I do not know. </li>
                            <li>
                                <ul>
                                    <li>
                                        I am nested inside a list
                                    </li>
                                    <li>
                                        So do I,
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32">
                    </td>    
                </tr>
              </table> 
        </div>
    </body>
</html>