<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simple_web_page.js') }}"></script>
</head>
<body>
    <h1>Change Things I</h1>
    <div id="d1">
        Hello
    </div>
    <div id="d2">
        Goodbye
    </div>
    <div>
        <input type="button" value = "change" onclick="dochange()">
    </div>
    <div>
        <input type="button" value = "call confirm" onclick="callConfirm()">
    </div>
    <div>
        <input type="button" value = "change color" onclick="changecolor()">
    </div>
    <div>
        <input type="button" value = "change language" onclick="changelanguage()">
    </div>
    
</body>
</html>
